.html_frutas {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: transparent;
}
.html_index {
  font-family: "Poppins", sans-serif;
  background-color: azure;
  margin: 0%;
  background-image: url("imagenes/fondoindex.jpeg");
}
body {
  font-family: "Poppins", sans-serif;
}
