.presentation {
  background-color: brown;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .presentation__logo {
    margin: 1%;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    align-items: center;
  }
  .presentation__nav-link {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
}
