@charset "UTF-8";
.presentation {
  background-color: brown;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation .presentation__logo {
  margin: 1%;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation .presentation__nav-link {
  padding-left: 10px;
  padding-right: 10px;
  color: white !important;
  text-decoration: none;
  font-size: 25px;
}

.botoon {
  margin: 3%;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.carrousel_ {
  margin: 3%;
}

.carrousel_ .carrousel {
  margin: auto;
  display: block;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ubi {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ubi .ubi__ubicacion {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin: auto;
}

.fatherUs {
  margin: 3%;
}

.fatherUs .us {
  color: red;
}

.aboutUs {
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}

.aboutUs .infoIndex {
  margin: 3%;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.baby {
  margin: 3%;
}

.baby .baby__niños {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}

.asd {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.asd .asd_botoon {
  margin: 3%;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .fanta {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.container .font {
  border-radius: 10px;
  border: 5px solid cadetblue;
  letter-spacing: 3px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.container .font1 {
  border-radius: 10px;
  border: 5px solid cadetblue;
  letter-spacing: 2px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.contacto_hs {
  font-size: 30px;
  text-align: center;
  margin: 5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.bebes {
  width: 250px;
  height: 200px;
}

.inicioImg {
  width: 70%;
}

.footer-link {
  background-color: #000;
}

.footer-link .footer__p-link {
  color: white;
  font-size: 20px;
  margin: auto;
}

.footer-link .footer__paddin {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.footer-link .estiloA {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}
/*# sourceMappingURL=style.css.map */